Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.C
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
bin/
[Rr]elease*/
_ReSharper*/
[Tl]est[Rr]esult*
.vs/
packages/
Test/
environnment/